body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #394648e4;
}

@keyframes coolEntry {
    from {
        opacity: 0;
        transform: scale(0.4) rotateX(90deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotateX(0);
    }
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #69995deb;
    padding: 20px;
    animation: coolEntry 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#display {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
}

button {
    padding: 16px 6px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #EDB6A3;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #F8E9E9;
}

button:active {
    transform: scale(0.90);
    background-color: #F8E9E9;
}
